<% if current_user %>
<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li class="user user-menu">
      <%= link_to destroy_user_session_path, :method => :delete do %>
        <span class="hidden-xs">Logout</span>
      <% end %>
    </li>
    <!-- Control Sidebar Toggle Button -->
    <!--<li>
      <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>-->
  </ul>
</div> 
<% end %>
