<h1>Dashboard</h1>
<%# userids.each_slice(4) do |a|%>
  <div class="row">
    <%# for item in a %>
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <!-- aqua,green,yellow,red,black,purple,blue,navy -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>9999<%#= @last_data.final %></h3>

          <p>label<%#= @last_data.label %></p>
        </div>
        <div class="icon">
          <!--<i class="ion ion-bag"></i>-->
        </div>
        <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <%# end %>
  </div>
<%## end%>
